[ req ]
default_bits        = 2048
default_keyfile     = host.key
default_md          = sha256
default_days        = 825
encrypt_key         = no
distinguished_name  = req_dn
req_extensions      = req_ext
x509_extensions     = x509_ext
string_mask         = utf8only
prompt              = no

[ req_dn ]
countryName            = PT # Change here to your country
stateOrProvinceName    = Lisbon # Change here to your city
organizationName       = Andre # Change here to your organization
commonName             = 127.0.0.1 # Change here to your ip adress

[ x509_ext ]
subjectKeyIdentifier      = hash
authorityKeyIdentifier    = keyid:always,issuer
basicConstraints        = critical, CA:TRUE
keyUsage            = critical, digitalSignature, keyEncipherment, cRLSign, keyCertSign
subjectAltName = IP:127.0.0.1 # Change here to your ip adress
extendedKeyUsage = serverAuth

extendedKeyUsage    = TLS Web Server Authentication

[ req_ext ]
subjectKeyIdentifier        = hash
basicConstraints        = CA:FALSE
keyUsage            = digitalSignature, keyEncipherment
subjectAltName = IP:127.0.0.1 # Change here to your ip adress
nsComment           = "OpenSSL Generated Certificate"
